body
{
	
	background-image: url("bgrnd.jpg");
  	background-repeat: no-repeat;
  	width:470;
  	height:340;
  	color:white;
  	text-align: center;
  	text-shadow: 0 1px 3px rgba(0,0,0,.5);
  	overflow:scroll;
  	border-radius: 8px;
  	font-family: Georgia;
  	font-size: 14px;
  	margin-top: 250px;
  	
  
}